.floating-left,
.floating-right {
  animation-name: floating-right;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating-left {
  animation-name: floating-left;
}

@keyframes floating-right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-4px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.gradient {
  background: linear-gradient(to right, #7face0, #eb8cee);
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rotate-gradient linear 3s infinite;
  position: relative;
}

@keyframes rotate-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.name {
  z-index: 2;
  position: absolute;
  transition: 0.4s;
}

.intro-text:hover {
  .name {
    opacity: 0%;
  }
}
