---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col">
    <Header />
    <main class="mt-32">
      <h1>Hello, I'm Nuria</h1>
      <section class="mt-[400px]" id="projects">
        <h2>projects</h2>
      </section>
      <section class="mt-[400px]" id="about">
        <h2>about</h2>
      </section>
      <section class="mt-[400px] pb-[400px]" id="contact">
        <h2>contact</h2>
      </section>
    </main>
  </body>
</html>
