---
import Image from "astro/components/Image.astro";
import codekey from "../assets/codekey.png";
---

<article class="mt-12">
  <div class="bg-purple-300 rounded-xl">
    <a href="https://codekey.vercel.app/" target="_blank">
      <Image
        src={codekey}
        alt="Codekey project thumbnail"
        class="hover:scale-[103%] duration-500 p-20 drop-shadow-xl"
      />
    </a>
  </div>
  <div class="mt-8">
    <div class="flex gap-2 items-center">
      <div class="w-3 h-3 bg-violet-400 rounded-full"></div>
      <h3 class="cursor-default">Codekey | A coding keyboard game</h3>
    </div>
    <div class="mt-5 cursor-default">
      <p>Codekey is a JavaScript typing test inspired by Monkeytype.</p><p>
        Unlike traditional typing games, <b
          >it features small JS code blocks for users to practice typing instead
          of regular text blocks</b
        >.
      </p><p>
        When the test is completed, the user can review their words per minute
        and accuracy, and save their scores on the <b>leaderboard</b>.
      </p><p>
        I built it utilizing event listeners to capture keyboard events, and
        push them into a collection of arrays, to compare them in real time
        against the correct characters and provide instant feedback.
      </p>
    </div>
  </div>
</article>
