---
import Logo from "../icons/Logo.astro";
import Anchor from "./Anchor.astro";
---

<header class="flex justify-center py-6">
  <nav class="flex gap-8">
    <div class="cursor-default">
      <Logo />
    </div>
    <Anchor reference="#projects" text="projects" />
    <Anchor reference="#about" text="about" />
    <Anchor reference="#contact" text="contact" />
    <button
      class="hover:text-violet-700 duration-150 font-[520] flex content-center mt-[1.2px] text-[1.05rem]"
      >es</button
    >
  </nav>
</header>
