---
import "../styles/intro.css";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
import Left from "../icons/Left.astro";
import Right from "../icons/Right.astro";
---

<section class="flex items-center gap-[100px] cursor-default">
  <div class="flex items-center">
    <Left width="80px" animation="floating-left" />
    <Image
      src={avatar}
      alt="avatar"
      loading="eager"
      class="w-[140px] ml-5 mr-4"
    />
    <Right width="80px" animation="floating-right" />
  </div>
  <div class="flex
      flex-col
      gap-1
      underline-name">
    <h1 class="mb-3">
      Hello, I'm <span>Nuria</span>.
    </h1>
    <p class="text-lg">
      I’m a full stack developer based in Barcelona, Spain 🔅
    </p>
    <p class="text-lg">
      I create beautiful & complex UI’s without compromising performance or
      accessibility.
    </p>
  </div>
</section>
