---
import Left from "../icons/Left.astro";
import Right from "../icons/Right.astro";
import Codekey from "./Codekey.astro";
---

<section class="mt-32 w-[700px]" id="projects">
  <div class="flex gap-4">
    <Left width="15px" />
    <h2 class="cursor-default">projects</h2>
    <Right width="15px" />
  </div>
  <Codekey />
</section>
